<div class="create-user-header">
  <img
    src="../../../assets/images/edit-user-small-blue.svg"
    class="create-user-icon"
  />
  Edit Users
</div>
<div class="edit-user-list-container mt-4">
  <table class="table table-hover">
    <thead>
      <tr class="table-primary table-header">
        <th scope="col">#</th>
        <th scope="col">User name</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email id</th>
        <th scope="col">Edit</th>
        <th scope="col">Active/De-activate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userlist; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user["UserName"] }}</td>
        <td>{{ user["FirstName"] }}</td>
        <td>{{ user["LastName"] }}</td>
        <td>{{ user["EmailId"] }}</td>
        <td>
          <img
            [attr.userId]="user['UserId']"
            src="../../../assets/images/edit-icon-small.svg"
            width="20"
            class="edit-icon"
            (click)="getUser(user['UserId'])"
          />
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="edit-user-form-container mt-4" *ngIf="isEditMode">
  <h4 class="mt-3 sub-title-text">Update the user details</h4>
  <form [formGroup]="singleUserForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 mt-3">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              placeholder="Enter username"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter first name"
              id="firstName"
              formControlName="firstName"
            />
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              formControlName="lastName"
              placeholder="Enter last name"
            />
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input
              type="password"
              class="form-control"
              id="oldPassword"
              formControlName="oldPassword"
              placeholder="Enter password"
            />
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="password">New password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter new password"
            />
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="confirmPassword">Confirm new password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              placeholder="Enter new password"
            />
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter email"
            />
          </div>
        </div>
        <div></div>
      </div>
    </div>
    <hr class="my-4" />
    <button
      type="submit"
      [disabled]="!singleUserForm.valid"
      class="btn btn-primary default-button"
    >
      Update user
    </button>
  </form>
</div>
