<div class="create-user-header">
  <img src="../../../assets/images/fees-small.svg" class="create-user-icon" />
  Fees Payment
</div>
<div class="fee-payment-top-container mt-4">
  <form>
    <div class="row">
      <div class="col-md-4 mt-4">
        <div class="form-group">
          <label for="exampleInputEmail1">Select Academic Year</label>
          <select class="form-control" id="exampleInputEmail1">
            <option>Select</option>
            <option>2021-2022</option>
            <option>2022-2023</option>
            <option>2023-2024</option>
            <option>2024-2025</option>
            <option>2025-2026</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-group">
          <label for="exampleInputPassword1">Select fee payment</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>UG</option>
            <option>PG</option>
            <option>Internship</option>
            <option>Certificate</option>
            <option>Transcripts</option>
            <option>ECFMG</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="form-group">
          <label for="exampleInputPassword1">Select fee type</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Admission Fees</option>
            <option>Repeater Fees</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="fee-payment-bottom-container mt-4">
  <h4 class="sub-title-text">
    <span>UG :</span>&nbsp; <span>Admission Fees</span>&nbsp;
    <span>(2021-2022)</span>
  </h4>
  <div class="">
    <form>
      <div class="form-row align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInput">RGUHS Reg No</label>
          <input
            type="text"
            class="form-control mb-2"
            id="inlineFormInput"
            placeholder="Enter RGUHS Reg No"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mt-3">GO</button>
        </div>
      </div>
    </form>
  </div>
</div>
