<div class="create-user-header">
  <img
    src="../../../assets/images/kims-database-small-blue.svg"
    class="create-user-icon"
  />
  KIMS Database
</div>
<div class="kims-database-container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card long-shadow application-form">
        <div class="card-body d-flex dashboard-widget">
          <img
            src="../../../assets/images/application-form-large.svg"
            class="dashboard-widget__image"
          />
          <h5 class="dashboard-widget__title">Application form</h5>
          <div class="dashboard-widget__buttom">
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/ugApplicationForm"
            >
              UG App Form
            </div>
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/pgApplicationForm"
            >
              PG App Form
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card long-shadow application-list">
        <div class="card-body d-flex dashboard-widget">
          <img
            src="../../../assets/images/application-list-large.svg"
            class="dashboard-widget__image"
          />
          <h5 class="dashboard-widget__title">Application List</h5>
          <div class="dashboard-widget__buttom">
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/ugList"
            >
              UG List
            </div>
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/pgList"
            >
              PG List
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card long-shadow seat-matric">
        <div class="card-body d-flex dashboard-widget">
          <img
            src="../../../assets/images/seat-matric-large.svg"
            class="dashboard-widget__image"
          />
          <h5 class="dashboard-widget__title">Seat Matrix</h5>
          <div class="dashboard-widget__buttom">
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/seatMatrix"
            >
              Go to Seat Matrix
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card long-shadow fees">
        <div class="card-body d-flex dashboard-widget">
          <img
            src="../../../assets/images/fees-large.svg"
            class="dashboard-widget__image"
          />
          <h5 class="dashboard-widget__title">Fees</h5>
          <div class="dashboard-widget__buttom">
            <div
              class="dashboard-widget__buttom__col"
              routerLink="/kimsDatabase/fees"
            >
              Go to Fees
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
