<div class="create-user-header">
  <img
    src="../../../assets/images/application-list-small.svg"
    class="create-user-icon"
  />
  UG List
</div>
<div class="ug-list-container mt-4">
  <table class="table table-bordered">
    <thead class="thead-dark kims-table-teal">
      <tr>
        <th scope="col" colspan="5" class="text-center">
          Kempegowda Institute of Medical Sciences
        </th>
        <th scope="col" colspan="5" class="text-center">UG Admission</th>
        <th scope="col" colspan="5" class="text-center">Academic Year</th>
      </tr>
    </thead>
    <tbody>
      <tr class="kims-table-light-gray text-center">
        <td>S. NO</td>
        <td style="min-width: 150px">
          NEET Roll No <br />
          CET No <br />
          Type
        </td>
        <td>Degree Name</td>
        <td>Student Name</td>
        <td>Photo</td>
        <td style="min-width: 150px">
          Father's Name <br />
          Mother's Name
        </td>
        <td>
          SEX <br />
          DOB
        </td>
        <td style="min-width: 150px">
          Religion <br />
          Mother Tongue <br />
          Category
        </td>
        <td>
          Nationality <br />
          State
        </td>
        <td>Seat Category</td>
        <td>
          AI Rank <br />
          Score
        </td>
        <td style="min-width: 150px">
          Univ/Board <br />Year Of Passing <br />
          Register No
        </td>
        <td style="min-width: 150px">
          MAX Marks <br />
          Marks Obtained
        </td>
        <td>Date Of Admission</td>
        <td>Candidate Signature</td>
      </tr>
      <tr class="text-center">
        <td>1</td>
        <td>
          12345 <br />
          45686 <br />
          KEA
        </td>
        <td>MBBS - Govt</td>
        <td>ABCD</td>
        <td></td>
        <td>
          ABCD <br />
          EFGH
        </td>
        <td>
          M <br />
          00/00/0000
        </td>
        <td>
          Abcd <br />
          GHIJ <br />
          AB
        </td>
        <td>
          INDIAN <br />
          Karnataka
        </td>
        <td>2A</td>
        <td>
          12345 <br />
          550
        </td>
        <td>
          PUC <br />
          2022 <br />
          123456
        </td>
        <td>
          600 <br />
          450
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
