<div class="create-user-header">
  <img
    src="../../../assets/images/seat-matrics-small.svg"
    class="create-user-icon"
  />
  Seat Matrix
</div>
<div class="seat-matrix-form-container mt-4">
  <table class="table table-bordered">
    <thead class="thead-dark kims-table-teal">
      <tr>
        <th scope="col" colspan="10" class="text-center">
          Seat Matrix Details
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="kims-table-light-blue">
        <th scope="col" colspan="10" class="text-center">
          Kempegowda Institute Of Medical Sciences
        </th>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="4" class="text-center kims-table-light-gray">
          Sanctioned
        </td>
        <td></td>
        <td colspan="4" class="text-center kims-table-light-gray">Admitted</td>
      </tr>
      <tr class="text-center">
        <th scope="row">Course</th>
        <td>Total Seat</td>
        <td>GM</td>
        <td>Private/GMP/OPN</td>
        <td>NRI/OTH</td>
        <td></td>
        <td>TA</td>
        <td>GM</td>
        <td>Private- GMP/OPN</td>
        <td>NRI/OTH</td>
      </tr>
      <tr class="text-center">
        <th scope="row">MBBS</th>
        <td>150</td>
        <td>60</td>
        <td>60</td>
        <td>30</td>
        <td></td>
        <td>120</td>
        <td>60</td>
        <td>60</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>
