<div class="create-user-header">
  <img
    src="../../../assets/images/application-list-small.svg"
    class="create-user-icon"
  />
  PG List
</div>
<div class="pg-list-container mt-4">
  <table class="table table-bordered">
    <thead class="thead-dark kims-table-teal">
      <tr>
        <th scope="col" colspan="34">
          List of students - PG for the year 2018-2019
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="kims-table-light-gray text-center">
        <td>S. NO</td>
        <td style="min-width: 150px">Name of the Student</td>
        <td>Date of Birth</td>
        <td>Age</td>
        <td>Sex</td>
        <td>Email Id</td>
        <td>Phone no</td>
        <td>Merit No</td>
        <td>Admission Basis</td>
        <td>Category</td>
        <td>Sub Category</td>
        <td style="min-width: 150px">Physically Handicapped</td>
        <td style="min-width: 150px">Marks Obtained in 1st Year</td>
        <td style="min-width: 150px">Max Marks in 1st Year</td>
        <td style="min-width: 150px">1st Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 2nd Year</td>
        <td style="min-width: 150px">Max Marks in 2nd Year</td>
        <td style="min-width: 150px">2nd Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 3rd Year</td>
        <td style="min-width: 150px">Max Marks in 3rd Year</td>
        <td style="min-width: 150px">3rd Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 4th Year</td>
        <td style="min-width: 150px">Max Marks in 4th Year</td>
        <td style="min-width: 150px">4th Year percentage</td>
        <td style="min-width: 150px">Entrance exam name</td>
        <td style="min-width: 150px">Entrance exam Marks</td>
        <td style="min-width: 150px">Max Marks in Entrance exam</td>
        <td style="min-width: 150px">Entrance exam Percentage</td>
        <td style="min-width: 150px">Date Of Admission</td>
        <td style="min-width: 150px">Entrance exam percentage/Percentile</td>
        <td style="min-width: 150px">NEET Roll No</td>
        <td style="min-width: 150px">Fees Charged in 1st Year</td>
        <td style="min-width: 150px">Fees Charged in 2nd Year</td>
        <td style="min-width: 150px">Fees Charged in 3rd Year</td>
      </tr>
      <tr class="text-center">
        <td>1</td>
        <td style="min-width: 150px">A</td>
        <td>04/04/1990</td>
        <td>32</td>
        <td>M</td>
        <td>s@mial.com</td>
        <td>123</td>
        <td>Merit No</td>
        <td>CET</td>
        <td>A</td>
        <td>Sub Category</td>
        <td style="min-width: 150px">Physically Handicapped</td>
        <td style="min-width: 150px">Marks Obtained in 1st Year</td>
        <td style="min-width: 150px">Max Marks in 1st Year</td>
        <td style="min-width: 150px">1st Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 2nd Year</td>
        <td style="min-width: 150px">Max Marks in 2nd Year</td>
        <td style="min-width: 150px">2nd Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 3rd Year</td>
        <td style="min-width: 150px">Max Marks in 3rd Year</td>
        <td style="min-width: 150px">3rd Year percentage</td>
        <td style="min-width: 150px">Marks Obtained 4th Year</td>
        <td style="min-width: 150px">Max Marks in 4th Year</td>
        <td style="min-width: 150px">4th Year percentage</td>
        <td style="min-width: 150px">Entrance exam name</td>
        <td style="min-width: 150px">Entrance exam Marks</td>
        <td style="min-width: 150px">Max Marks in Entrance exam</td>
        <td style="min-width: 150px">Entrance exam Percentage</td>
        <td style="min-width: 150px">Date Of Admission</td>
        <td style="min-width: 150px">Entrance exam percentage/Percentile</td>
        <td style="min-width: 150px">NEET Roll No</td>
        <td style="min-width: 150px">Fees Charged in 1st Year</td>
        <td style="min-width: 150px">Fees Charged in 2nd Year</td>
        <td style="min-width: 150px">Fees Charged in 3rd Year</td>
      </tr>
    </tbody>
  </table>
</div>
